<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Home base</h1>
    <h3>here's the link to this and the other site:</h3>
    <a href="/testing">testing</a>
    <a href="/data">Random number</a>
    <a href="/">Home</a>
    {% block body %}
    {% endblock %}
</body>
</html>